@model IEnumerable<CarDealerManager.Models.Store>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <main role="main" class="pb-3">
        <h1>Index</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfPurchase)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WarrantyDuration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.car)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.customer)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfPurchase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarrantyDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.car.CarBrandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer.FullName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>

