@model IEnumerable<CarDealerManager.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1>Index</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CarBrandName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarModel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fuel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transmission)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.supplier)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarBrandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fuel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Transmission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.supplier.SupplierName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>